/* 
        
ʕ•ᴥ•ʔ cub v1.0 05/18/17
author - Sean Sullivan 
seansullivandev.com

--- header
--- content
--- container and grid

*/
/* -- Cub Header --- */
.cub-header {
  width: 100%;
  height: 56px;
  color: #FFF;
  background: #9E9E9E;
  position: fixed;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 16px 16px 0 16px;
  will-change: transform;
  display: flex;
  -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000;
}
/* -- Header End --*/
/* -- Content -- */
.cub-title {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.cub-content {
  padding-top: 60px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.cub-card {
  padding: 16px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  margin: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.cub-fab:before {
  content: "+";
  background: #2962FF;
  color: #FFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 6%;
  display: inline-block;
  padding-top: inherit;
  font-size: 3.2em;
}
.cub-button {
  background-color: #2962FF;
  color: #FFF;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  display: block;
  padding: 10px 15px 10px 15px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 2%;
}
input[type=text] {
  border: none;
  border-bottom: 2px solid #666;
}
/* -- Content End -- */
/* -- Container and Grid --*/
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  overflow: hidden;
}
body {
  display: flex;
  align-content: stretch;
  background: #ececec;
}
/* --- Grid System from Skeleton CSS - getskeleton.com--- */
@media (min-width: 550px) {
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74.0%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }
}
