/* 
        
ʕ•ᴥ•ʔ cub v1.0 05/18/17
author - Sean Sullivan 
seansullivandev.com

--- YOUR STYLES HERE --- 

*/

.cub-card {
    padding: 0;
}

.cub-content {
    overflow-y: hidden;
}

body{margin:0 !important;}